* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #222222;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.frame {
    /* margin: 40px; */
    width: min-content;
    padding: 10px;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.display {
    flex-shrink: 0;
    background-color: #333;
    text-align: right;
    font-size: 4em;
    font-family: monospace;
    width: 279px;
    border: 5px solid #333;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

.rightSide {
    margin: 0;
    padding: 0;
    width: min-content;
}

.leftSide {
    margin: 0;
    padding: 0;
    width: 235px;
}

.functionButtons > * {
    background-color: #2196f3;
}

.numberButtons > * {
    background-color: #ff9800;
}

.operationButtons > * {
    background-color: #ff4081;
}

.buttonsPanel {
    display: flex;
    margin-top: 10px;
}

.button {
    height: 70px;
    width: 70px;
    font-size: 24px;
    border-color: black;
    border-radius: 5%;
    margin-top: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #DDD;
}

.zeroButton {
    width: 148px;
    border-radius: 5%;
}